# Ignore database file
db.sqlite3

# Ignore encryption key
.encryption_key

# Ignore node_modules directory
node_modules/
media/*

# Ignore editor and tool directories
.vscode/
.roo/
.refact/
__pycache__/

# Ignore package files
package.json
package-lock.json

# Ignore log files
logs/
*.log

# Ignore virtual environment
venv/
