Django==5.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
asgiref==3.8.1
sqlparse==0.5.3
django-allauth==65.8.0
oauthlib==3.2.2
django-apscheduler==0.6.2
django-huey==1.2.1
django-oauth-toolkit==3.0.1
djangorestframework==3.16.0
pytz==2022.7.1
websocket-client==1.8.0
websockets==15.0.1
